H2
{
	color: 	#000000;
	background-color: #A9A9A9;
	border: 1em solid #A9A9A9;
}

H1
{
	color: 	#000000;
	background-color: #A9A9A9;
	border: 1em solid #A9A9A9;
}

H3
{
	color: 	#000000;
}